:root {
    --background: hsl(253, 76%, 29%);
    --frame:hsl(221, 100%, 96%);
    --button: hsl(224, 30%, 27%);
    --text-color: black
}
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    padding: 0;
    
    background: var(--background);
    color: var(--text-color);
}
.controller {
    background: var(--frame);
    padding: 10px;
}

.video {
    background: var(--background);
    width: 100%;
    
}

.videoImage {
    width: 100%;
}

.controlls {
    background: var(--frame);
}

.grid-container {
    display: grid;
    gap: 50px 100px
}

.foward {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.back {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}